
<html>
<head>
  <title>Login </title>
</head>
<body>
  <h1>Login for your cool site, homie!</h1>

<form action="/process_login" method="POST">
<input type="text" name="username" placeholder="Enter username"> and
<input type="password" name="password" placeholder="Enter password">

<button type="submit">Login</button>

</form>

</body>
</html>