
<html>
<head>
  <title>Adam's profile</title>
</head>
<body>
  <h1>The illest profile on the webs.</h1>

<img src="http://cdn.meme.am/instances/53415006.jpg"/>

<form action="/profile" method="GET">
<p> Greatscott, <strong> <%= @current_user %> !  You've done it!</p>

</form>

</body>
</html>